@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    height: 100%;
}

body {
    color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgb(26, 26, 26);


    font-family: "open sans";

    height: 100%;
}