main {
    height: 50%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec_key {
    width: 200px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
}

.continue_btn {
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: white;
    font-family: "Source Code Pro";
}

.continue_btn:hover {
    color: red;
}