main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    text-align: center;
}

.twitter-timeline {
    width: 35vh;
    padding: 5vh;
}

.discord {
    width: 35vh;
    height: 50vh; 
    padding: 5vh;
}