main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.wrapper {
    z-index: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.container {
    padding: 25px;

    border-bottom: 1px solid rgb(50, 50, 50);

    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    text-align: center;

}

.br-50 {
    height: 50px;
    width: 100%;
}

.br-100 {
    height: 100px;
    width: 100%;
}

.c-2 {
    margin-top: 10%;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.main-title {
    color: transparent;
    -webkit-text-stroke: 2px white;
}